doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title David Soliman
    link(rel='stylesheet', href='styles/styles.css')
    link(rel='stylesheet', href='styles/background.css')
    link(rel='icon', href='/david/recursos/iconos/softliman.png', type='image/x-icon')
    link(rel='shortcut icon', href='assets/icons/softliman.png', type='image/x-icon')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
  body
    .container
      header#header.scroll-top
        include ../assets/elementos/menu.pug
      main
        .background
          section.box
            .cabecera
              .foto
                img(src='assets/images/yo.png', alt='Softliman')
              .info
                h1 David Soliman Escobar
                p Desarrollador Polifacético Fullstack
                include ../assets/elementos/contacto.pug

          section.box
            h2 Mis Proyectos
            .galeria-proyectos
              each proyecto in proyectos
                .proyecto
                  a(href=proyecto.url, target='_blank') 
                    img(src=proyecto.imagen, alt=proyecto.nombre)
                  a(href=proyecto.url, target='_blank') 
                    h3= proyecto.nombre
                  p= proyecto.descripcion


          section.box
            include contenido/presentacion.pug
      footer#footer
        include ../assets/elementos/footer.pug
        include ../assets/elementos/contacto.pug
    script(src='source/funcionamiento.js')
